<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
  body{
      background:#70b3fb;
  }
  .forget-pwd > a{
      color: #dc3545;
      font-weight: 500;
  }
  .forget-password .panel-default{
      padding: 31%;
      margin-top: -27%;
  }
  .forget-password .panel-body{
      padding: 15%;
      margin-bottom: -50%;
      background: #fff;
      border-radius: 5px;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  img{
      width:40%;
      margin-bottom:10%;
  }
  .btnForget{
  
      border:none;
  }
  .forget-password .dropdown{
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: .25rem;
  }
  .forget-password .dropdown button{
      width: 100%;
  }
  .forget-password .dropdown ul{
      width: 100%;
  }
</style>
<div class="container forget-password">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <%= image_tag("login.png", alt: "car-key", style: "border:0") %>
            <h2 class="text-center">Welcome to CDS</h2>
            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <div class="input-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder:"Email"  %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <%= f.password_field :password, autocomplete: "current-password",class:"form-control",placeholder:"Password"%>
                  </div>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="form-group">
                    <label for="remember-me" class="text-info" style="float:left">
                      <div  style="float:left">
                        <span><%= f.check_box :remember_me %></span>
                        <span>Remember me</span></div>
                      <div ><%= render "users/shared/links" %></div>
                    </label>
                  <% end %>
                  <br/>
                  <div class="form-group">
                    <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block btnForget" %>
                  </div>
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

