<%= javascript_include_tag 'step1', 'data-turbolinks-track': 'reload' %>

<div class="row" id="step1" style="justify-content: center;">
  <div class="col-lg-6">
    <%= form_with class: "step1 form-add-template", method: "GET" do %>
     <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-8" style="text-align: left">
          <p style="color:red;">(*) required fields</p>
        </div>
      </div>
      <div class="col-sm-12">
        <%# Template name %>
        <div class="row">
          <div class="offset-md-1 col-md-2" style="text-align: left">
            <label>Name: (*)</label>
          </div>
          <div class="col-md-8 name">
            <% if @template_edit %>
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter Name', value: @template_edit.name %>
            <% else %>
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter Name' %>
            <% end %>
            <div class="error"></div>
          </div>
        </div>
        <br>
        <%# Role %>
        <div class="row">
          <div class="offset-md-1 col-md-2" style="text-align: left">
            <label>Role:</label>
          </div>
          <div class="col-md-8 role">
            <% if @roles_edit %>
              <%= select_tag "role", options_from_collection_for_select(@roles_edit, :id, :name), class: 'form-control' %>
            <% else %>
              <%= select_tag "role", options_from_collection_for_select(roles, :id, :name), class: 'form-control' %>
            <% end %>
            <div class="error"></div>
          </div>
       </div>
        <br>
        <%# Description %>
        <div class="row">
          <div class="offset-md-1 col-md-2" style="text-align: left">
            <label>Description: </label>
          </div>
          <div class="col-md-8 description">
            <% if @template_edit %>
              <%= text_area_tag 'description', @template_edit.description, rows: 5, style: 'width:100%;', class: 'form-control', placeholder: "Please enter Description" %>
            <% else %>
              <%= text_area_tag 'description', nil, rows: 5, style: 'width:100%;', class: 'form-control', placeholder: "Please enter Description" %>
            <% end %>
            <div class="error"></div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <% end %>
  </div>
</div>

<button class="btn btn-primary next action-button step1 btn-next-template" type="button" value="Next step" name="next">Next</button>
<button type="button" class="btn btn-light border-primary" data-toggle="modal" title="Close Step 1 and Go to Template page" data-target="#modal_warning_close">Cancel</button>
