<div class="row"  style="justify-content: center;">
  <div class="col-lg-6">
    <%= form_with class: "form-add-competency" do %>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-8" style="text-align: left">
            <p style="color:red;">Note: * indicates required fileld</p>
          </div>
        </div>
        <div class="col-sm-12">
          <%# group name %>
          <div class="row">
            <div class="offset-md-1 col-md-2" style="text-align: left">
              <label>Name (*)</label>
            </div>
            <div class="col-sm-8">
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter name competency' %>
              <%= hidden_field(:competency, :id )%>
              <%= hidden_field(:competency, :index )%>
              <div id="error-name-competency"></div>
            </div>
          </div>
          <br>
          <%# status %>
          <div class="row">
            <div class="offset-md-1 col-md-2" style="text-align: left">
              <label>Type</label>
            </div>
            <div class="col-sm-8">
              <%= select_tag "type", options_for_select([['General','General'], ['Specialized', 'Specialized']], 'General'), class: 'form-control' %>
            </div>
          </div>
          <br>
          <%# Description %>
          <div class="row">
            <div class="offset-md-1 col-md-2" style="text-align: left">
              <label>Description</label>
            </div>
            <div class="col-sm-8">
              <%= text_area_tag 'desc', nil, rows: 5, style: 'width:100%;' %>
            </div>
          </div>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
<button class="btn btn-light border-dark previous action-button-previous" data-toggle="tooltip" title="Back To Step 1" type="button" name="previous">Back</button>
<button type="buttton" class="btn btn-light border-dark btn-save-compentency" data-toggle="tooltip" title="Save Competency" disabled id="btn-add-competency">Save</button>
<button class="btn btn-light border-dark next action-button btn-next-competency" data-toggle="tooltip" title="Go To Step 3" type="button" value="Next Step" name="next">Next</button>
<button type="button" class="btn btn-light border-dark" data-toggle="modal" title="Close Step 2 and Go to Template page" data-target="#modal_waring_close_step_2">Close</button>
<%= render 'warning_close_step_2' %>
<div style="margin-top: 20px" style="justify-content: left;">
  <div class="row">
    <div class="col-sm">
      <div class="divHeader">Competencies</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-primary table-responsive-sm table-mytable" id="table_add_competency">
        <thead>
          <tr>
            <th data-orderable="false" data-width="20%">No.</th>
            <th data-orderable="false" data-width="20%">Name</th>
            <th data-orderable="false" data-width="20%">Type</th>
            <th data-orderable="false" data-width="20%">Description</th>
            <th data-orderable="false" data-width="20%">Action</th>
          </tr>
        </thead>
        <tbody id="tbdTemplate">
        </tbody>
      </table>
    </div>
  </div>
</div>
