<%= javascript_include_tag 'template_index_step1', 'data-turbolinks-track': 'reload' %>

<div class="row" id="step1" style="justify-content: center;">
  <div class="col-lg-6">
    <%= form_with class: "step1 form-add-template", method: "GET" do %>
     <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-8" style="text-align: left">
          <p style="color:red;">(*) required fields</p>
        </div>
      </div>
      <div class="col-sm-12">
        <%# Template name %>
        <div class="row">
          <div class="offset-md-1 col-md-2" style="text-align: left">
            <label>Name: (*)</label>
          </div>
          <div class="col-md-8 name">
            <%= text_field_tag 'name', defined?(@template) ? @template[:name] : nil, class: 'form-control', placeholder: 'Please enter Name' %>
            <div class="error"></div>
          </div>
        </div>
        <br>
        <%# Role %>
        <div class="row">
          <div class="offset-md-1 col-md-2" style="text-align: left">
            <label>Role:</label>
          </div>
          <div class="col-md-4 role">
            <%= select_tag "role", options_from_collection_for_select(@roles, :id, :name), class: 'form-control' %>
            <div class="error"></div>
          </div>
       </div>
        <br>
        <%# Description %>
        <div class="row">
          <div class="offset-md-1 col-md-2" style="text-align: left">
            <label>Description: </label>
          </div>
          <div class="col-md-8 description">
            <%= text_area_tag 'description',defined?(@template) ? @template[:description] : nil, rows: 5, style: 'width:100%;', class: 'form-control', placeholder: "Please enter Description" %>
            <div class="error"></div>
          </div>
        </div>
        <br>
        <%# Status %>
        <div class="row">
          <div class="offset-md-1 col-md-2" style="text-align: left">
            <label>Status: </label>
          </div>
          <div class="col-md-4 status_radio">
            <%= radio_button_tag :status, "Enable", false, disabled: true %>
            <%= label_tag(:status, "Enable") %>
          </div>
          <div class="col-md-4 status_radio">
            <%= radio_button_tag :status, "Disable", true, disabled: true %>
            <%= label_tag(:status, "Disable") %>
          </div>
          <div class="error"></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<button class="btn btn-primary save action-button step1" value="Save" title="Save"name="save">Save</button>
<button class="btn btn-primary next action-button step1 btn-next-template" value="Next" title="Go to step 2" name="next">Next</button>
<button class="btn btn-light border-primary" data-toggle="modal" title="Close Step 1 and Go to Template page" data-target="#modal_warning_close">Cancel</button>
