<%= stylesheet_link_tag 'template', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'template', 'data-turbolinks-track': 'reload' %>

<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-12 col-sm-9 col-md-7 col-lg-7">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <div id="msform">
                            <div class="row steps">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 step step-active">
                                    <span class="col-sm-2 col-md-2 step-symbol"></span>
                                    <span class="col-sm-2 col-md-2"></span>
                                    <span class="col-sm-8 col-md-8 step_number">1</span><a href="#">General Information</a>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 step">
                                    <span class="col-sm-2 col-md-2 step-symbol">>></span>
                                    <span class="col-sm-2 col-md-2"></span>
                                    <span class="col-sm-8 col-md-8 step_number">2</span><a href="#">Add Competencies</a>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 step">
                                    <span class="col-sm-2 col-md-2 step-symbol">>></span>
                                    <span class="col-sm-2 col-md-2"></span>
                                    <span class="col-sm-8 col-md-8 step_number">3</span><a href="#">Add Slots</a>
                                </div>
                            </div>
                            
                            <fieldset>
                                <%= render 'step_1', roles: @roles %>
                            </fieldset>
                            <fieldset>
                                <%= render 'step_2' %>
                            </fieldset>
                            <fieldset>
                                 <%= render 'step_3', competencies: @competencies %>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>