<%= stylesheet_link_tag 'jquery.dataTables.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'template-index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'table_template', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'table_template_excel.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'template_index_step1', 'data-turbolinks-track': 'reload' %>
<% breadcrumb :template_management %>
<div class="alert-message">
  <div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
  <div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
</div>
<div class="container-fluid">
  <div class="template-header">
    <div class="row">
      <span class="title col-sm-3">Template List</span>
      <div class="add-template title col-sm-9">
        <%= link_to new_template_path, title: "Add a Template", id: "add_template_button" do %>
          <button><%= image_tag("Add.png")%> Add</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="template-table">
    <table class="table table-responsive-sm" id="template_index">
      <thead>
        <tr >
          <th scope="col" style="width:3%">No.</th>
          <th scope="col" style="width:20%">Template Name</th>
          <th scope="col" style="width:27%">Description</th>
          <th scope="col" style="width:12%">Role</th>
          <th scope="col" style="width:10%" >Latest Update</th>
          <th scope="col" style="width:10%">Updated by</th>
          <th scope="col" style="width:8%">Status</th>
          <th scope="col" style="width:10%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @templates.each_with_index do |template,index| %>
          <tr>
            <td class="num"></td>
            <td><%= link_to(template.name, edit_template_path(template.id), class: "edit_template") %></td>
            <td><%= template.description %></td>
            <td><%= template.role_name %></td>
            <td><%= template.updated_at.strftime("%b %m, %Y") %></td>
            <td><%= template.updated_by %></td>
            <td><%= template.status ? "Enable" : "<span class='red'>Disable</span>".html_safe %></td>
            <td class="action">
              <% if @is_full_assess %>
                <%= link_to(('<i class="fa fa-pencil icon" style="color:#fc9803"></i>').html_safe, edit_template_path(template.id), { class: "edit_template", title: "Edit Template" }) %> &nbsp;
                <%= link_to(('<i class="fa fa-file-excel-o icon" style="color:green"></i>').html_safe, "#", {class: "export_excel_icon", "data-template_id": template.id, "data-ext": "xlsx", title: "Export Excel", method: "post" }) %>&nbsp;
                <%= link_to(('<i class="fa fa-file-o icon" style="color:##4472c4"></i>').html_safe, "#", {  class: "export_excel_icon", "data-template_id": template.id, "data-ext": "ots", title: "Export OTS", method: "post" }) %>&nbsp;
                <%= link_to(('<i class="fa fa-trash icon" style="color:red"></i>').html_safe, "#", { class: "delete_icon", value: template.id, remote: true, title: "Delete Template", "data-id": template.id, "data-toggle": "modal", "data-target": "#modal_warning_close" }) %>
              <% else %>
                <%= link_to(('<i class="far fa-eye icon" style="color:blue"></i>').html_safe, edit_template_path(template.id), { class: "view_template", title: "View Template" }) %>&nbsp;&nbsp;
                <%= link_to(('<i class="fa fa-file-excel-o icon" style="color:green"></i>').html_safe, "#", {class: "export_excel_icon", "data-template_id": template.id, "data-ext": "xlsx", title: "Export Excel", method: "post" }) %>&nbsp;
                <%= link_to(('<i class="fa fa-file-o icon" style="color:##4472c4"></i>').html_safe, "#", {  class: "export_excel_icon", "data-template_id": template.id, "data-ext": "ots", title: "Export OTS", method: "post" }) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'warning_close', content: "Are you sure you want to Delete this Template" %>
<script>
  var is_full_assess = <%= @is_full_assess %>
</script>
