<%= stylesheet_link_tag 'font-awesome.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'template-index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'table_template', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'table_template_excel.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'template_index_step1', 'data-turbolinks-track': 'reload' %>
<% breadcrumb :template_management %>

<div id="alert-success" class="alert alert-success" data-alert="alert"><div id="content-alert-success"></div></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><div id="content-alert-fail"></div></div>
<div class="container-fluid">
  <div class="template-header">
    <span class="title">Template List</span>
    <div class="add-template title">
      <%= link_to(('<button><img src="../assets/Add.png"> Add</button>').html_safe, new_template_path, title: "Add a Template", id: "add_template_button") %>
    </div>
  </div>
  
  <div class="template-table">
    <table class="table table-responsive-sm" id="template-index">
      <thead>
        <tr >
          <th scope="col" style="width:3%">No.</th>
          <th scope="col" style="width:20%">Template Name</th>
          <th scope="col" style="width:30%">Description</th>
          <th scope="col" style="width:5%">Role</th>
          <th scope="col" style="width:10%" >Latest Update</th>
          <th scope="col" style="width:10%">Updated by</th>
          <th scope="col" style="width:6%">Status</th>
          <th scope="col" style="width:6%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @templates.each_with_index do |template,index| %>
        <tr>
          <td class="num"><%= index+1 %></td>
          <td><%= link_to(template.name, edit_template_path(template.id), class: "edit_template") %></td>
          <td><%= template.description %></td>
          <td><%= template.role_name %></td>
          <td><%= template.updated_at.strftime("%b %m, %Y") %></td>
          <td><%= template.updated_by %></td>
          <td><%= template.status ? "Enable" : "Disable" %></td>
          <td class="action">
           <%= link_to(('<i class="fa fa-pencil icon" style="color:#fc9803"></i>').html_safe, edit_template_path(template.id), { class: "edit_template", title: "Edit Template" }) %>
            <%= link_to(('<i class="fa fa-file-excel-o icon" style="color:green"></i>').html_safe, "#", {class: "export_excel_icon", "data-template_id": template.id, "data-ext": "xlsx", title: "Export Excel", method: "post" }) %>
            <%= link_to(('<i class="fa fa-file-o icon" style="color:##4472c4"></i>').html_safe, "#", {  class: "export_excel_icon", "data-template_id": template.id, "data-ext": "ots", title: "Export OTS", method: "post" }) %>
            <%= link_to(('<i class="fa fa-trash icon" style="color:red"></i>').html_safe, "#", { class: "delete_icon", value: template.id, remote: true, title: "Delete Template", "data-id": template.id, "data-toggle": "modal", "data-target": "#modal_warning_close" }) %> 
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'warning_close', content: "Are you sure you want to Delete this Template" %>