<%= form_with(model: group_privilege, local: true) do |form| %>
  <% if group_privilege.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_privilege.errors.count, "error") %> prohibited this group_privilege from being saved:</h2>

      <ul>
        <% group_privilege.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
