<p id="notice"><%= notice %></p>

<h1>Group Privileges</h1>

<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_privileges.each do |group_privilege| %>
      <tr>
        <td><%= group_privilege.reference %></td>
        <td><%= link_to 'Show', group_privilege %></td>
        <td><%= link_to 'Edit', edit_group_privilege_path(group_privilege) %></td>
        <td><%= link_to 'Destroy', group_privilege, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group Privilege', new_group_privilege_path %>
