<table class="table" id="table_group" data-source="<%= groups_path(format: :json) %>">
  <thead>
    <% even_odd_classname = cycle("odd", "even") %>
    <tr class="<%= even_odd_classname %>">
    
        <th data-sort-ignore="true" style="width:4%;background-image:none;text-align:center"> 
        <div class="resource_selection_toggle_cell">
     
          <input type="checkbox" id="selectAll">
       
        </div>
        </th>
   
      <th scope="col" class="id" style="width:6%;text-align:center">No.</th>
      <th scope="col" class="name"  style="width:12%;text-align:center">Name</th>
      <th scope="col" class="status"  style="width:10%;text-align:center">Status</th>
      <th scope="col" class="n_user"  style="width:10%;text-align:center">Number of User</th>
      <th scope="col" class="description" style="text-align:center">Description</th>
      <th scope="col" class="action"style="width:7%;background-image:none;text-align:center">Action</th>
    </tr>
  </thead>
  <tbody>
  
    <% @groups.each_with_index do |group, index| %>
      <tr id= "<%= "group_#{group.id}" %>" >
        <td class="selectable" style="text-align:center">
          <div class="resource_selection_cell">
            <input type="hidden" id=<%= "batch_action_item_#{group.id}"%> value="0" class="collection_selection" name="collection_selection[]">
        <%= check_box_tag "group_ids[]", group.id, false, class: 'selectable selectable_check',  name: 'checkbox' %>
          </div>
        </td>
        <td class="id number" style="text-align:right"><%= "#{index + 1}" %></td>
        <td class="name"><%= "#{group.name}" %></td>
        <td class="status">
          <% if group.status %>
            Enable
          <% else %>
            Disable
          <% end %>
        </td>
        <td class="n_user" style="text-align: right;"><%= "#{UserGroup.where(group_id: group.id).count}" %></td>
        <td class="description"><%= "#{group.description}" %></td>
        <td class="action" style="text-align:center"><% if @privilege_array.include? 4%>
          <%= 
                links = []

                links << link_to(image_tag("edit.png", border: 0), "#", { class: "action_icon edit_icon btn-edit-group", :"data-id" => group.id,title: 'Edit Group', :'data-toggle' => 'tooltip'})
                links << link_to('<i class="fa fa-key"></i>'.html_safe,"#",{ class: "action_icon key_icon", :"data-id" => group.id, :"data-toggle" => "modal",title: 'Assign Privileges To Group', :"data-target" => "#modalPrivilege"})
                links << link_to('<i class="fa fa-users"></i>'.html_safe,"#",{ class: "action_icon user_group_icon", :"data-id" => group.id, :"data-toggle" => "modal", :"data-target" => "#AssignModal",title: 'Assign Users to Group'})
                 links << link_to(image_tag("Delete.png", border: 0), "javascript:void(0)", { class: "action_icon del_btn",  :"data-group" => group.id,title: 'Delete Group', :'data-toggle' => 'tooltip'})                 
                links.join(" ").html_safe      
            %>
         <%end%>
                    
        </td>
      </tr>
       <% end %>
   
  </tbody>
</table>
