<% groups.each do |group| %> 
<div class="modal fade modal-form-add-privilege" id="modalPrivilege_<%= group.id %>">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <p class="modal-title" style="text-align:left;font-size:18px;background-color:">Assign Privileges To Group <%= group.name %></p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5">
              <div class="header_search">
                <b>Available Privileges</b>
                <!--
                <%= form_with(url: "#", method: "get", class: "search_form", id: "form_search_left_#{group.id}") do |f| %>
                  <%= f.hidden_field :key, id: "key_left_#{group.id}", value: "left" %>
                  <%= f.text_field :q, id: "search_left_#{group.id}", placeholder: "Write something" %>
                  <%= link_to image_tag("search-icon.png", class: "search_icon" ,id: "search_click_#{group.id}"), "#", remote: true %>
                <% end %>
                -->
              </div>
              <div class="testScroll">
                <table class="table table-responsive table-popup-privilege table_left" id="table_left_<%= group.id %>">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col"><input type="checkbox" class="selectAll1"></th>
                      <th scope="col">Privilege Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-2 button-center privilege"> <!-- change two buttons, Data là .. -->
              <button class="btn btn-secondary to_right" id="to_right_<%= group.id %>" onclick="LeftToRight(<%= group.id %>)" disabled="disabled"><%= image_tag("icon_arrow_right_ngoc.png", border: 1) %></button>
              <button class="btn btn-secondary to_left" id="to_left_<%= group.id %>" onclick="RightToLeft(<%= group.id %>)" disabled="disabled"><%= image_tag("icon_arrow_left_ngoc.png", border: 1) %></button>
            </div>
            <div class="col-sm-5">
              <div class="header_search">
                <b>Selected Privileges</b>
                <!--
                <%= form_with(url: "#", method: "get", class: "search_form", id: "form_search_right_#{group.id}") do |f| %>
                  <%= f.hidden_field :key, id: "key_right_#{group.id}", value: "right" %>
                  <%= f.text_field :q, id: "search_right_#{group.id}", placeholder: "Write something" %>
                  <%= link_to image_tag("search-icon.png", class: "search_icon" ,id: "search_click_#{group.id}"), "#", remote: true %>
                <% end %>
                -->
              </div>
              <div class="testScroll">
                <table class="table table-responsive table-popup-privilege table_right" id="table_left_<%= group.id %>">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col"><input type="checkbox" class="selectAll2"></th>
                      <th scope="col">Privilege Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" style="justify-content: center;">
        <button type="submit" class="btn btn-primary save" id="save_group_<%= group.id %>" disabled="disabled">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<% end %>
