<%= stylesheet_link_tag 'jquery.dataTables.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'group_new', media: 'all', 'data-turbolinks-track': 'reload' %>
<% breadcrumb :groups %>
<!-- Modal show -->
<div id="modal_content" class="modal_destroy">
  <div class="modal fade modal-form-add" id="modal_destroy" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<div class="template-header">
  <div class="row" style="background-color: #8da8db; height: 40px; line-height: 40px; margin: 0; color: white; font-weight">
    <span class="title col-sm-12">User Group Management</span>
  </div>
</div>
<div class="container-fluid" style="padding: 0;">
  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-sm-12 table-group-wrapper">
        <table class="table table-striped table-bordered table-sm table-group" id="table_group">
          <thead>
            <tr>
              <th class="type-icon no">No.</th>
              <th class="type-icon name" >Name</th>
              <th class="type-icon description">Description</th>
              <th class="type-icon number-user">Number of User</th>
              <th class="type-icon status">Status</th>
              <th class="type-icon action">Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if @full_access %>
  <%= render 'add'  %>
  <%= render 'edit'  %>
  <%= render 'assign_user'  %>
  <%= render 'privilege'%>
  <%= render 'modal_destroy'%>
<%end%>
<div class="alert-message">
  <div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
  <div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
</div>
<script>
  var full_access = <%= @full_access %>;
  var view = <%= @view %>;
  var is_sending = false;
  var delete_users_group = [];
  var add_users_group = [];
  var current_users_group = [];
</script>
<%= javascript_include_tag 'bootbox.all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'group_new', 'data-turbolinks-track': 'reload' %>
