<%= stylesheet_link_tag 'user_management', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'user_management', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'jquery.dataTables.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<input type="hidden" value="<%= @privilege_array.include? 1%>" class="get_privilege">
<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Admintrator</a></li>
    <li class="breadcrumb-item active">User Management</li>
  </ol>
</nav>
<div class="container-fluid" style="margin-bottom: 40px;">
  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-2" style="padding-right:0px;margin-right:0px">
        <% if @privilege_array.include? 1%>
          <%= render 'new_user', companies: @companies, projects: @projects, roles: @roles  %>
        <%end%>
        <%= render 'filter', companies: @companies, projects: @projects, roles: @roles %>
      </div>
      <div class="col-sm-10">
        <%= render 'users_mgmt_table', companies: @companies, projects: @projects, roles: @roles %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 Editmodal">
      </div>
      <div class="col-sm-10">
      </div>
    </div>
  </div>
</div>
<div><%= render 'add_reviewer' , users: @users %></div>
<input type="hidden" value="<%@privilege_array.include? 1%>" id="check_privilege">
<% if @privilege_array.include? 1%>
  <div><%= render 'delete' %></div>
  <div><%= render 'edit' %></div>
  <div><%= render 'delete_multiple_users' %></div>
  <div><%= render 'status_multiple_users' %></div>
  <div><%= render 'status_enable_users' %></div>
<%end%>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span> Fail !</div>
