<%= stylesheet_link_tag 'jquery.dataTables.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'user_management', media: 'all', 'data-turbolinks-track': 'reload' %>
<script>
  var current_reviewers = new Set();
  var current_approvers = 0;
  var reviewers = new Set();
  var approvers = 0;
  var disabled_reviewer = false;
  var crud_user = <%= @crud_user %>;
</script>
<% breadcrumb :users %>
<div class="container-fluid" style="margin-bottom: 40px;">
  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-2" style="padding-right:0px;margin-right:0px">
        <%= render('new_user', companies: @companies, projects: @projects, roles: @roles) if @crud_user %>
        <%= render 'filter' %>
      </div>
      <div class="col-sm-10">
        <%= render 'users_mgmt_table' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 Editmodal">
      </div>
      <div class="col-sm-10">
      </div>
    </div>
  </div>
</div>
<div><%= render 'add_reviewer' , users: @users %></div>
<div><%= render 'add_approver' , users: @users %></div>
<% if @crud_user%>
  <div><%= render 'delete' %></div>
  <div><%= render 'edit' %></div>
  <div><%= render 'delete_multiple_users' %></div>
  <div><%= render 'status_multiple_users' %></div>
  <div><%= render 'status_enable_users' %></div>
<%end%>
<div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
<%= javascript_include_tag 'lodash', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'user_management', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'add_reviewer', 'data-turbolinks-track': 'reload' %>
