<button type="button" class="btn btn-primary float-right" data-tooltip="true" data-placement="top" title="Add a new schedule" data-toggle="modal" data-target="#modalAdd" style="margin: 5px;"><%= image_tag("Add.png") %> Add</button>
<div class="modal fade modal-form-add" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">Add a New Schedule</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p style="color:red">Note: * indicates required fields</p>
            </div>
            <div class="col-sm-6">
              <%# Schedule name %>
              <div class="row">
                <div class="col-sm-4">
                  <label>Schedule Name (*)</label>
                </div>
                <div class="col-sm-6">
                  <%= text_field_tag 'desc', nil, class: 'form-control', placeholder: 'Please enter schedule name' %>
                </div>
              </div>
              <br>
              <%# project name %>
              <% if current_user.role.name == "HR" %>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Company Name (*)</label>
                  </div>
                  <div class="col-sm-6">
                    <%= select_tag "project", options_from_collection_for_select(@company, "id", "name"), class: 'form-control',  include_blank: "Please select a project" %>
                  </div>
                </div>
                <br>
              <% elsif current_user.role.name == "PM" %>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Project Name (*)</label>
                  </div>
                  <div class="col-sm-6">
                    <%= select_tag "project", options_from_collection_for_select(@projects, "id", "name"), class: 'form-control',  include_blank: "Please select a project" %>
                  </div>
                </div>
                <br>
              <% end %>
              <%# start date %>
              <div class="row">
                <div class="col-sm-4">
                  <label>Start date (*)</label>
                </div>
                <div class="col-sm-6">
                  <%= date_field_tag :start_date , class: "form-control", min: Date.today %>
                </div>
              </div>
              <br>
              <%# end date employee %>
              <div class="row">
                <div class="col-sm-4">
                  <label>Employee's end date (*)</label>
                </div>
                <div class="col-sm-6">
                  <%= date_field_tag :end_date_employee, class: "form-control" %>
                </div>
              </div>
              <br>
            </div>
            <%# right  %>
            <div class="col-sm-6">
              <%# end date reviewer %>
              <div class="row">
                <div class="col-sm-4">
                  <label> Reviewer's end date (*)</label>
                </div>
                <div class="col-sm-6">
                  <%= date_field_tag :end_date_employee, class: "form-control" %>
                </div>
              </div>
              <br>
              <%# day notice for employee %>
              <div class="row">
                <div class="col-sm-4">
                  <label>Day notice to employee (*)</label>
                </div>
                <div class="col-sm-6">
                  <%= number_field_tag :notify_employee, in: 1.0..20.0, class: "form-control" %>
                </div>
              </div>
              <br>
              <%# project %>
              <div class="row">
                <div class="col-sm-4">
                  <label>Day notice to employee</label>
                </div>
                <div class="col-sm-6">
                  <%= number_field_tag :notify_reviewer, in: 1.0..20.0, class: "form-control" %>
                </div>
              </div>
              <br>
              <%# end  %>
            </div>
          </div>
          <%# end container  %>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary" id="btn_modal_add">Save</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
