<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Edit Schedule</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="form_content">
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Project name:</label>
      <%= select_tag "edit_project", options_from_collection_for_select(@projects, "id", "desc",selected: @schedule.project_id), class: 'form-control',  include_blank: "Select a project", disabled: true %>
      <%= text_field_tag 'schedule_id', @schedule.id,type: 'hidden', class: 'form-control'%>
    </div>
    <div class="form-group">
      <% if @schedule.status == "New" %>
        <label for="recipient-name" class="col-form-label"> Start date:</label>
        <%= text_field_tag 'edit_start_date', @start_date, class: 'form-control'%>
        <input type="hidden" id="edit_start_date_1" name="custId" value="3487">
        <%= text_field_tag 'check_start_date', @start_date,type: 'hidden', class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">End date	:</label>
      <%= text_field_tag 'edit_end_date', @end_date, class: 'form-control', placeholder: 'Please enter end date' %>
      <input type="hidden" id="edit_end_date_1" name="custId" value="3487">
    </div>
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Notify before end date:</label>
      <%= text_field_tag 'edit_notify_date',@schedule.notify_date , class: 'form-control',type:'number', placeholder: 'Please enter notify_date' %>
    </div>
    <%= text_field_tag 'status',@schedule.status, class: 'form-control',type:'hidden' %>
  </form>
</div>
<div class="modal-footer justify-content-center" >
  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  <button type="button" class="btn btn-primary" id="btn_modal_edit">Save</button>
</div>
<script>
  $('#edit_end_date').datetimepicker({ footer: true, modal: true });
  $('#edit_start_date').datetimepicker({ footer: true, modal: true });
</script>
