<% if @schedules.nil? || @schedules.empty? %>
  <tr style="text-align: center;">
    <th colspan="9">No data available in table</th>
  </tr>
<% else %>
  <% @schedules.each_with_index do |schedule, index| %>
    <tr>
      <% if schedule.status == "New" %>
        <td><%= check_box_tag "schedule_ids[]", schedule.id, false, class: 'selectable',name: 'checkbox' %></td>
      <% else %>
        <td></td>
      <% end %>
      <td style="text-align:right"><%= index + 1 %></td>
      <td><%= link_to  schedule.desc, "javascript:void(0)", { class: "view_detail", :"data-schedule" => schedule.id }  %></td>
      <td><%= schedule.company.name %></td>
      <td><%= schedule.period.from_date.strftime('%b %d, %Y') %> - <%= schedule.period.to_date.strftime('%b %d, %Y') %></td>
      <td><%= schedule.start_date.strftime('%b %d, %Y') %></td>
      <td><%= schedule.end_date_hr.strftime('%b %d, %Y') %></td>
      <td><%= schedule.status %></td>
      <td style="text-align: center;">
        <% if schedule.status == "In-progress" %>
          <%= link_to(('<i class="fa fa-pencil icon" style="color:#a9a6a6"></i>').html_safe, "javascript:void(0)", { class: "edit_btn", title: "Edit schedule" }) %>
          <%= link_to(('<i class="fa fa-trash icon" style="color:red"></i>').html_safe, "javascript:void(0)", { class: "del_btn", :"data-schedule" => schedule.id, :"data-tooltip" => true, :"data-placement"=> "top" , title: "Delete schedule"  }) %>
        <% end %>
        <% if schedule.status == "New" %>
          <%= link_to(('<i class="fa fa-pencil icon" style="color:#fc9803"></i>').html_safe, "javascript:void(0)", { class: "edit_btn", :"data-schedule" => schedule.id, :"data-tooltip" => true, :"data-placement"=> "top" , title: "Edit schedule" }) %>
          <%= link_to(('<i class="fa fa-trash icon" style="color:red"></i>').html_safe, "javascript:void(0)", { class: "del_btn", :"data-schedule" => schedule.id, :"data-tooltip" => true, :"data-placement"=> "top" , title: "Delete schedule"  }) %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
