
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">Update</button>
<div class="modal fade modal-form-add" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Project name:</label>
             <%= select_tag "project", options_from_collection_for_select(@projects, "id", "desc"), class: 'form-control',  include_blank: "Select a project" %>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Start date:</label>
            <%= text_field_tag 'start_date', schedule.start_date, class: 'form-control'%>
            <p><%=schedule.start_date%></p>
             <script>
        $('#start_date').datepicker({
            uiLibrary: 'bootstrap4'
        });
  </script>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">End date	:</label>
            <%= text_field_tag 'end_date', schedule.end_date, class: 'form-control'%>
             <script>
        $('#end_date').datepicker({
            uiLibrary: 'bootstrap4'
        });
  </script>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Notify before end date:</label>
            <%= text_field_tag 'notify_date', schedule.notify_date, class: 'form-control' %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn_modal_add">Save</button>
      </div>
    </div>
  </div>
</div>
