<%= javascript_include_tag "schedules", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "jquery.dataTables.min", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "schedule", media: "all", 'data-turbolinks-track': "reload" %>
<% breadcrumb :schedules %>
<%= render 'modal_destroy'%>
<%= render "delete_selected" %>
<%= render "add_hr" %>
<input class='d-none' id="user" value="<%= current_user.id %>">
<input class='d-none' id="user_role" value="<%= if @is_pm then "PM" elsif @is_hr then "HR" else "" end %>">
<input class='d-none' id="schedule_task">
<!-- Modal show -->
<div id="modal_content" >
  <div class="modal fade modal-form-add" id="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<div class="lmask">
</div>
<!-- end modal -->
<table class="table" id="schedule_table">
  <thead>
    <tr>
      <th class="sorting_disabled" style="width:1%;"><input type="checkbox"  id="selectAll"></th>
      <% @fields.each do |field| %>
        <% if field == "No." %>
          <th style="width:1%;text-align:right"><%= field %></th>
        <% elsif field == "Action" %>
          <th style="width:4%;"><%= field %></th>
        <% else %>
          <th><%= field %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody id="schedules">
  </tbody>
</table>
<div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
