<%= javascript_include_tag 'schedules', 'data-turbolinks-track': 'reload' %>
  <%= render 'add'%>
<%= render 'delete_selected'%>
<%= render 'add'%>
<!-- Modal show -->
<div id="modal_content" >
  <div class="modal fade modal-form-add" id="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
<table class="table" id="users-datatable">
  <thead>
    <tr>
      <th data-sort-ignore="true"><input type="checkbox"  id="selectAll"></th>
      <th>No.</th>
      <th>Created by</th>
      <th>Email</th>
      <th>Project name</th>
      <th>Start date</th>
      <th>Employee end date</th>
      <th>Reviewer end date</th>
      <th>Days notice to employees</th>
      <th>Days notice to reviewer</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="schedules">
    <%= render partial: 'schedule' , locals: { schedules: @schedules } %>
  </tbody>
</table>
<div id="paginator" class="float-right">
  <%= paginate(@schedules) %>
</div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
