<%= render 'delete_selected'%>
<% if current_admin_user.role.name == "HR" %>
  <%= render 'add_hr'   %>
<% end %>
<!-- Modal show -->
<div id="modal_content" >
  <div class="modal fade modal-form-add" id="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
  </div>
  </div>
</div>
<!-- end modal -->
<table class="table" id="users-datatable">
  <thead>
    <tr>
      <th data-sort-ignore="true" style="width:50px;"><input type="checkbox"  id="selectAll"></th>
    <% @fields.each do |field| %>
      <% if field == "No." %>
        <th style="width:50px;text-align:right"><%= field %></th>
      <% elsif field == "Action"  %>
        <th style="width:70px;"><%= field %></th>
      <% else %>
        <th><%= field %></th>
      <% end %>
      
    <% end %>
    </tr>
  </thead>
  <tbody id="schedules">
  <% if @schedules.nil? || @schedules.empty? %>
    <tr style="text-align: center;"><th colspan="9">No data available in table</th></tr> 
  <% else %>
    <% if current_admin_user.role.name == "HR" %>
      <%= render partial: 'schedule_hr' , locals: { schedules: @schedules, type: 'PM' } %>
    <% elsif current_admin_user.role.name == "PM" %>
     <%= render partial: 'schedule_pm' , locals: { schedules: @schedules, type: 'PM' } %>
    <% end %>
  <% end %>
  </tbody>
</table>
<div id="paginator" class="float-right">
  <%= paginate(@schedules) if @schedules != nil %>
</div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
