<%= javascript_include_tag 'table_level_mapping', 'data-turbolinks-track': 'reload' %>
<div id="alert-success" class="alert alert-success" data-alert="alert"><div id="content-alert-success"></div></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><div id="content-alert-fail"></div></div>
<div class='row'>
  <div class='col-12'>
    <div class='basic-table-wrapper'>
      <table class="table table-responsive-sm table-basic table-mytable border-table" id="table_level_mapping">
        <thead>
          <tr>
            <th class="th">Title</th>
            <th class="th">Rank</th>
            <th class="th" >Level</th>
            <th class="tr-staff">Required Competencies (*)</th>
            <th class="th">Action</th>
          </tr>
        </thead>
        <tbody>
        <% @list_title[:data].each do |item| %>
          <tr data-title-id='<%= item.id %>'>
            <td><%= item.name %></td>
            <td><%= item.rank %></td>
            <td>1</td>
            <td>
            <div class="row">
              <div class='col-3'>
                <input type="number" class="form-control" min="1" max="<%= @list_title[:count_competency] %>" placeholder='Quantity'>
              </div>
              <div class='col-5'>
                <select class="form-control" id="select_type">
                  <option value='-1' disabled selected>Competency type</option>
                  <option value='0'>All</option>
                  <option value='1'>General</option>
                  <option value='2'>Special</option>
                </select>
              </div>
              <div class='col-2'>
                <select class="form-control" id="select_rank">
                  <option value='-1' disabled selected>Rank</option>
                  <% @list_title[:no_rank].times do |counter| %>
                    <option><%= counter+1 %></option>
                  <% end %>
                </select>
              </div>
              <div class='col-2 divIcon'  style="padding-top:7px">
                <a type='button' class='btnAction invisible' title='Add a required competency' id="btn_add_required">
                  <i class='fas fa-plus-circle btnAdd'></i>
                </a>
                <a type='button' class='btnAction invisible' title='Delete a required competency' id="btn_remove_required"><i class='fas fa-times btnDel'></i></a>
              </div>
            </div>
            </td>
            <td>
              <a type='button' class='btnAction' title='Add a level' id="btn_add_level"><i class='fa fa-plus btnAdd'></i></a>
              <a type='button' class='btnAction invisible' title='Delete a level' id="btn_remove_level"><i class='fas fa-times btnDel'></i></a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 divButton'>
    <button class='btn btn-primary btn-save' id="btn_save">Save</button>
    <a type='button' class='btn btn-light border-dark' href="/level_mappings/">Cancel</a>
  </div>
</div>
<script>
  var max_quantity = <%= @list_title[:count_competency] %>
  var count = <%= @list_title[:no_rank] %>
</script>
