<%= stylesheet_link_tag 'table_level_mapping', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'level_mappings', media: 'all', 'data-turbolinks-track': 'reload' %>
<input class="d-none" id="can_edit_level_mapping" value=<%= can_edit? %>>
<div class="container-fluid" style="padding:0;">
  <div class="row row-header">
    <div class="col-12" style="font-size: 150%;">
      New Level Mapping for Role <%= @role.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='row col-num'>
        <div class='circle-div'>1</div>
        <div class='col-title'><b>Title Mapping</b></div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 div-table'><%= render 'new_table_title_mapping'%></div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='row col-num'>
        <div class='circle-div'>2</div>
        <div class='col-title'><b>Level Mapping</b></div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 div-table'><%= render 'level_mapping'%></div>
  </div>
</div>
<input class='d-none' id="role_id" value='<%= @role.id %>'>
<% breadcrumb :level_mapping_new, @role %>
<script>
  var global_can_view = <%= can_view? %>
  var role_name =  "<%= @role.name %>"
  
  var general = "General"
  var special = "Specialized"
  var all = "All"
</script>
