<%= stylesheet_link_tag 'table_level_mapping', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'level_mappings', media: 'all', 'data-turbolinks-track': 'reload' %>
<input class="d-none" id="can_edit_level_mapping" value=<%= @can_edit %>>
<div class='row'>
  <div class='col-12'>
    <div class='row col-num'>
      <div class='circle-div'>1</div>
      <div class='col-title'><b>Title Mapping</b></div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 div-table'><%= render 'edit_table_title_mapping'%></div>
</div>
<div class='row'>
  <div class='col-12'>
    <div class='row col-num'>
      <div class='circle-div'>2</div>
      <div class='col-title'><b>Level Mapping</b></div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-12 div-table'><%= render 'edit_level_mapping'%></div>
</div>
<script>
  var global_can_view = <%= @can_view %>
  var global_role_id = <%= @role_id %>
</script>
