<table class="table table-primary table-mytable table-responsive-sm"style="width: 100%;" id="table_right">
  <thead>
    <tr>
      <td>No.</td>
      <td><input type="checkbox" id="check_all_choose_right" value="all" class="mycontrol"></td>
      <td>Full Name</td>
      <td>Account</td>
      <td style="display:none;">User ID</td>
    </tr>
  </thead>
  <tbody>
    <% unless @existing_reviewers.nil?%>
      <% @existing_reviewers.each_with_index do |user, index| %>
        <tr id="<%= user.id %>">
          <td><div style="text-align: right;"><%= index + 1%></div></td>
          <td><input type="checkbox" class="mycontrol" id="<%= "#{user.id}_checkbox" %>" </td>
            <td style="text-align: left"><%= "#{user.first_name} #{user.last_name}" %> </td>
            <td style="text-align: left"><%= user.account %></td>
            <td style="display:none;"><%= user.id %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
