<table class="table table-primary table-mytable table-responsive-lg" id="table_right">
    <thead>
        <tr>
        <td>No.</td>
        <td><input type="checkbox" id="check_all_choose_right" value="all" class="mycontrol"></td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email Address</td>
        <td style="display:none;">User ID</td>
        </tr>
    </thead>

    <tbody>
        <% unless @existing_previewers.nil?%>
            <% @existing_previewers.each_with_index do |user, index| %>        
                <tr id="<%= user.id %>">
                    <td style="text-align: right"><%= index + 1%></td>
                    <td><input type="checkbox" class="mycontrol" id="<%= "#{user.id}_checkbox" %>"</td>
                    <td><%= "#{user.first_name} #{user.last_name}" %> </td>
                    <td><%= user.account %></td>
                    <td><%= user.email %></td>
                    <td style="display:none;"><%= user.id %></td>
                </tr>
            <% end %>
        <% end %>
        
                        
    </tbody>
</table>
