<%= stylesheet_link_tag 'user_management', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'user_management', 'data-turbolinks-track': 'reload' %>
    
    
<div class="container-fluid" style="margin-bottom: 40px;">
  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-2">
        <%= render 'add', companies: @companies, projects: @projects, roles: @roles  %>
        <div class="bg-secondary" style="font-size: 18px;color: #fff;text-align:center;margin-top:10px">Filter</div>
        <%= render 'filter', companies: @companies, projects: @projects, roles: @roles %>
      </div>
      <div class="col-sm-10">
        <%= render 'admin_users', admin_users: @admin_users, companies: @companies, projects: @projects, roles: @roles , project_members: @project_members %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 Editmodal">
      </div>
      <div class="col-sm-10">
      </div>
    </div>
  </div>
</div>
<div><%= render 'add_reviewer' , admin_users: @admin_users %></div>
<div><%= render 'delete' %></div>
<div><%= render 'edit' %></div>
<div><%= render 'delete_all' %></div>
<div><%= render 'status_multiple_users' %></div>
</div>
</div>
</div>
</div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span> Success !</div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span> Fail !</div>
