<p>Dear <%= @staff_name %> ,</p>
<p>Your temporary CDS/CDP title in period [from <%= @from_date %> to <%= @to_date %>] is :</p>
<p>- Rank: <%= @rank_number %></p>
<p>- Level: <%= @level_number %></p>
<p>- New Title: <%= @title_number %></p>
<p>Note: This is temporary result from PM. The final title will be sent to you later by HR Department.</p>
<p>Please access CDS system to get more details.</p>
<p>Thank you,</p>
<p>CDS System</p>
