<p>Dear <%= @staff_name %> ,</p>

<p>Your CDS assessment of period [<%= @from_date %> - <%= @to_date %>] has been requested to add more evidences on competency  <%= @competency_name %> "/slot"<%= @slot_id %>. Please access CDS system for more details.</p>

<p>Thank you,</p>
<p>CDS System</p>