<p>Dear <%= @reviewer_name %> </p>

<p>The CDS assessment period [<%= @from_date %> - <%= @to_date %>] of <%= @firstname %><%= @firstcharacters %>  has been sent to you. Please access CDS system to review.</p>

<p>Thank you,</p>
<p>CDS System</p>