<p>Dear <%= @reviewer_name %> ,</p>

<p>The CDS assessment period [<%= @from_date %> - <%= @to_date %>] of <%= @firstname %> <%= @lastname %> has been updated on competency  <%= @competency_name %> "/slot"<%= @slot_id %> . Please access CDS system to review.</p>

<p>Thank you,</p>
<p>CDS System</p>