<p>Dear <%= @reviewer_name %> </p>

<p>The CDS/CDP assessment period [<%= @from_date %> - <%= @to_date %>] of <%= @fullname %> has been sent to you. Please access CDS/CDP system to <%= @action %> .</p>

<p>Thank you,</p>
<p>CDS System</p>