<p>Dear <%= @reviewer_names %>,
</p>
<p>The CDS/CDP assessment period [<%= @from_date %> - <%= @to_date %>] of <%= @name %> has been updated on the following slots : </p>
<% @slots.each do |k, v| %>
  <p><b><%= k %></b> / <%= v.join(", ") %></p>
<% end %>
<p>Please access CDS/CDP system to review.</p>

<p>Thank you,</p>
<p>CDS System</p>