<script src="https://d3js.org/d3.v5.min.js"></script>
<%= stylesheet_link_tag 'dashboards', media: 'all', 'data-turbolinks-track': 'reload' %>
<style>
  .aa {
      /* background-color: red; */
      height: 50%;
  }
  .bb {
      /* background-color: blue; */
      height: 50%;
  }
  .cc {
      /* background-color: green; */
      height: 50%;
  }
  .dd {
      /* background-color: yellow; */
      height: 50%;
  }
  .row1 {
      display: flex;
      flex-wrap: wrap;
      height: calc(100vh - 250px);
      width: calc(100vw - 50px);
      margin-left: 50px;
  }
  .title-header {
      font-size: 30px;
      font-weight: bold;
  }
  .title {
      font-size: 20px;
      font-weight: bold;
      padding-left: 100px;
      padding-bottom: 10px;
  }
  .legend {
      font-size: 12px;
  }
  rect {
      stroke-width: 2;
  }
  .welcome{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      width: calc(100vw - 150px)
  }
  .header-panel {
    display: flex;
  }
  .btn-filter-dashboard {
    text-align: center;
    align-items: center;
    padding-top: 10px;
    width: 150px;
    cursor: pointer;
  }
  
  .badge {
    border: 1px solid black;
    padding-left: 5px !important;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .badge span {
    padding-right: 5px;
  }
  
  .badge button span {
    color: red;
  }
  .item-filter-dashboard{
    padding: 5px;
  }
</style>
<div class="header-panel">
  <div class="welcome">Welcome to Competency Development System</div>
  <div id="filter_dashboard" class="btn-filter-dashboard"">
    <i class="fas fa-chevron-down" style="color: black"></i> Filter
  </div>
</div>
<div class="col-10 filter-dashboard">
  <%= render "filter_review" %>
</div>
<div>
  <div class="title-header">Data Overview</div>
  <div class="row1">
    <div id="chart_gender" class="col aa">
      <div class="col title">Number of Employees by Gender</div>
    </div>
    <div id="chart_role" class="col bb">
      <div class="col title">
        Number of Employees by Role
      </div>
    </div>
    <div class="w-100"></div>
    <div id="chart_title" class="col dd">
      <div class="col title">
        Number of Employees by Title
      </div>
    </div>
    <div id="chart_seniority" class="col cc">
      <div class="col title">
        Number of Employees by Seniority
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://www.jqueryscript.net/demo/Bootstrap-4-Multi-Select-BsMultiSelect/dist/js/BsMultiSelect.js"></script>
<script src="https://unpkg.com/arraygeous@0.1.4/build/arraygeous.min.js"></script>
<%= javascript_include_tag 'pyramid_chart', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'pie_chart', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'dashboards', 'data-turbolinks-track': 'reload' %>
