<div class="title-table-form-preview-result">CDS Assessment Point</div>
<div style="overflow-x:auto;">
  <div class="horizontal-scroll-except-first-column">
    <table class="table table-striped table-primary table-responsive-sm table-preview-result">
      <thead>
        <tr>
          <th style="width:400px">Competency</th>
          <th style="width:60px" class="form-pr-level">Rank</th>
          <th style="width:60px"class="form-pr-level">Level</th>
          <% @slots.each do |s| %>
            <th class="slot-header<%= s.to_i %>"><%= s %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @competencies.each_with_index do |c, i| %>
          <tr>
            <td style="width:400px" class="form-competency-name"><%= c %></td>
            <td style="width:60px" class="form-pr-level">rank</td>
            <td style="width:60px"class="form-pr-level">++1</td>
            <% @slots.each do |s| %>
              <td style="text-align:center" class="<%= @result[c][s][:type] + " " + @result[c][s][:class] unless @result[c][s].nil? %>"><%= @result[c][s].nil? ? "" : @result[c][s][:value] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
