<div class="title-table-form-preview-result">CDS Assessment Point</div>
<div style="overflow-x:auto;">
  <table class="table table-striped table-primary table-responsive-sm table-preview-result">
    <thead>
      <tr>
        <td>Competency</td>
        <td class="form-pr-level">Level</td>
        <td>1A</td>
        <td>1B</td>
        <td>1C</td>
        <td>1D</td>
        <td>1E</td>
        <td>1F</td>
        <td>1G</td>
        <td>2A</td>
        <td>2B</td>
        <td>2C</td>
        <td>2D</td>
        <td>2E</td>
        <td>2F</td>
        <td>2G</td>
        <td>3A</td>
        <td>3B</td>
        <td>3C</td>
        <td>3D</td>
        <td>3E</td>
        <td>3F</td>
        <td>3G</td>
        <td>4A</td>
        <td>4B</td>
        <td>4C</td>
        <td>4D</td>
        <td>4E</td>
        <td>4F</td>
        <td>4G</td>
        <td>5A</td>
        <td>5B</td>
        <td>5C</td>
        <td>5D</td>
        <td>5E</td>
        <td>5F</td>
        <td>5G</td>
      </tr>
    </thead>
    <tbody>
      <% @competencies.each_with_index do |c, i| %>
        <tr>
          <td class="form-competency-name"><%= c %></td>
          <td class="form-pr-level">++1</td>
          <td><%= @result[c]["1A"].nil? ? "x" : @result[c]["1A"][:value] %></td>
          <td><%= @result[c]["1B"].nil? ? "x" : @result[c]["1B"][:value] %></td>
          <td><%= @result[c]["1C"].nil? ? "x" : @result[c]["1C"][:value] %></td>
          <td><%= @result[c]["1D"].nil? ? "x" : @result[c]["1D"][:value] %></td>
          <td><%= @result[c]["1E"].nil? ? "x" : @result[c]["1E"][:value] %></td>
          <td><%= @result[c]["1F"].nil? ? "x" : @result[c]["1F"][:value] %></td>
          <td><%= @result[c]["1G"].nil? ? "x" : @result[c]["1G"][:value] %></td>
          <td><%= @result[c]["2A"].nil? ? "x" : @result[c]["2A"][:value] %></td>
          <td><%= @result[c]["2B"].nil? ? "x" : @result[c]["2B"][:value] %></td>
          <td><%= @result[c]["2C"].nil? ? "x" : @result[c]["2C"][:value] %></td>
          <td><%= @result[c]["2D"].nil? ? "x" : @result[c]["2D"][:value] %></td>
          <td><%= @result[c]["2E"].nil? ? "x" : @result[c]["2E"][:value] %></td>
          <td><%= @result[c]["2F"].nil? ? "x" : @result[c]["2F"][:value] %></td>
          <td><%= @result[c]["2G"].nil? ? "x" : @result[c]["2G"][:value] %></td>
          <td><%= @result[c]["3A"].nil? ? "x" : @result[c]["3A"][:value] %></td>
          <td><%= @result[c]["3B"].nil? ? "x" : @result[c]["3B"][:value] %></td>
          <td><%= @result[c]["3C"].nil? ? "x" : @result[c]["3C"][:value] %></td>
          <td><%= @result[c]["3D"].nil? ? "x" : @result[c]["3D"][:value] %></td>
          <td><%= @result[c]["3E"].nil? ? "x" : @result[c]["3E"][:value] %></td>
          <td><%= @result[c]["3F"].nil? ? "x" : @result[c]["3F"][:value] %></td>
          <td><%= @result[c]["3G"].nil? ? "x" : @result[c]["3G"][:value] %></td>
          <td><%= @result[c]["4A"].nil? ? "x" : @result[c]["4A"][:value] %></td>
          <td><%= @result[c]["4B"].nil? ? "x" : @result[c]["4B"][:value] %></td>
          <td><%= @result[c]["4C"].nil? ? "x" : @result[c]["4C"][:value] %></td>
          <td><%= @result[c]["4D"].nil? ? "x" : @result[c]["4D"][:value] %></td>
          <td><%= @result[c]["4E"].nil? ? "x" : @result[c]["4E"][:value] %></td>
          <td><%= @result[c]["4F"].nil? ? "x" : @result[c]["4F"][:value] %></td>
          <td><%= @result[c]["4G"].nil? ? "x" : @result[c]["4G"][:value] %></td>
          <td><%= @result[c]["5A"].nil? ? "x" : @result[c]["5A"][:value] %></td>
          <td><%= @result[c]["5B"].nil? ? "x" : @result[c]["5B"][:value] %></td>
          <td><%= @result[c]["5C"].nil? ? "x" : @result[c]["5C"][:value] %></td>
          <td><%= @result[c]["5D"].nil? ? "x" : @result[c]["5D"][:value] %></td>
          <td><%= @result[c]["5E"].nil? ? "x" : @result[c]["5E"][:value] %></td>
          <td><%= @result[c]["5F"].nil? ? "x" : @result[c]["5F"][:value] %></td>
          <td><%= @result[c]["5G"].nil? ? "x" : @result[c]["5G"][:value] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
