<%= stylesheet_link_tag "form", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "cdp_assessment", media: "all", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag "form", 'data-turbolinks-track': "reload" %>
<link rel="stylesheet" href="https://www.jquery-az.com/boots/css/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="https://www.jquery-az.com/boots/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<% breadcrumb :new_cds %>
<div class="container-fluid">
  <div class="row" id="cdp_containder_div">
    <div class="col-md-5" ><%= @hash[:title] %></div>
    <div class="col-md-4" style="text-align:right">
      Search: <input type="text" class="search-assessment" placeholder="Enter ID, Description" style="height: 88%">
    </div>
    <div class="col-md-3 list-action filter-slots" style="text-align:right">
      Filter
      <select id="filter_form_slots" multiple="multiple">
        <option value="cds_assessment" selected>Assessing CDS</option>
        <option value="cdp_assessment" selected>Assessing CDP</option>
        <option value="need_to_update" selected>Request Update</option>
        <option value="no_assessment" selected>No Assessments</option>
        <option value="passed">Passed slots in previous periods</option>
        <option value="failed" selected>Failed slots in previous periods</option>
      </select>
      <%= link_to '<i class="far fa-eye" style="color: blue"></i> View Result'.html_safe, preview_result_forms_path(form_id: @hash[:form_id]), target: :_blank, "data-placement": "top", title: "Preview Result", class: "preview-result" %>
      <%= link_to '<i class="fas fa-file-import" style="color: green"></i> Submit'.html_safe, "javascript:void(0)", class: "submit-assessment", title: "Submit CDS" %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" id="body-row">
    <%= render "left_panel" %>
    <div class="col" style="padding-right: 0px">
      <%= render "form_slot" %>
    </div>
  </div>
</div>
<div><%= render "modal_history" %></div>
<div><%= render "modal_period" %></div>
<div><%= render "modal_approve_cds" %></div>
<div><%= render "modal_reject_cds" %></div>
<div><%= render "modal_add_more_evidence" %></div>
<div><%= render "modal_re_assess" %></div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
<script>
  var form_id = <%= @hash[:form_id] || 0 %>;
  var title_history_id = <%= @hash[:title_history_id] || 0 %>;
  var status = "<%= @hash[:status].to_s %>";
  var is_reviewer = false;
  loadDataPanel(form_id);
  checkStatusFormStaff(status);
</script>
