<%= stylesheet_link_tag "form", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "cdp_assessment", media: "all", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag "cdp_assessment", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag "cdp_event", 'data-turbolinks-track': "reload" %>
<link rel="stylesheet" href="https://www.jquery-az.com/boots/css/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="https://www.jquery-az.com/boots/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<% breadcrumb :cds_cdp_review,@form_id,@user_id %>
<div class="container-fluid">
  <div class="row" id="cdp_container_div2" style=" display: inline-block; width: 100%;padding:0 15px">
    <div class="div-header" style="display: inline-block; float: left" ><span><%= @hash[:title] %></span><span id="status"><%= " (#{@hash[:status]})" %></span></div>
    <div class="list-action filter-slots" style="text-align:right; display: -webkit-inline-box; float: right">
      Search: <input type="text" class="search-assessment" placeholder="Enter Slot ID, Description"/>
      Filter
      <select id="filter_form_slots" multiple="multiple">
        <option value="cds_assessment">Assessing CDS in current period</option>
        <option value="cdp_assessment">Assessing CDP</option>
        <option value="need_to_update">Request Update</option>
        <option value="no_assessment">No Assessments</option>
        <option value="passed">Passed slots in previous periods</option>
        <option value="failed">Failed slots in previous periods</option>
        <option value="cds_need_to_be_reviewed" selected>CDS slots need to be reviewed</option>
      </select>
      <%= link_to '<i class="far fa-eye" style="color: blue"></i> Result'.html_safe, preview_result_forms_path(form_id: @hash[:form_id]), target: :_blank, "data-placement": "top", title: "Preview Result", class: "preview-result" %>
      <% if @hash[:is_approver] %>
        <% if @hash[:status] == "Done" %>
          <%= link_to '<i class="fas fa-comment-alt" style="color: blue"></i> Comment'.html_safe, "javascript:void(0)",id: "summary_comment",class: "d-none", title: "Summary comment" %>
          <%= link_to '<i class="fas fa-thumbs-down" style="color: blue"></i> Reject'.html_safe, "javascript:void(0)",id: "reject_cds", class: "reject-assessment", title: "Reject CDS/CDP" %>
          <%= link_to '<i class="fas fa-bell" id="icon_request_update" style="color: green"></i> Request'.html_safe, "javascript:void(0)", id: "button_request_update", class: "confirm-request disabled d-none", title: "Request update" %>
          <%= link_to '<i class="fas fa-bell-slash" id="icon_cancel_request" style="color: green"></i> Cancel'.html_safe, "javascript:void(0)", class: "disabled d-none", id: "button_cancel_request", title: "Cancel Request" %>
          <%= link_to '<i class="fas fa-thumbs-up" style="color: blue"></i> Approve'.html_safe, "javascript:void(0)",id: "approve_cds", class: "d-none", title: "Approve CDS/CDP" %>
        <% else  %>
          <%= link_to '<i class="fas fa-comment-alt" style="color: blue"></i> Comment'.html_safe, "javascript:void(0)",id: "summary_comment", title: "Summary comment" %>
          <%= link_to '<i class="fas fa-thumbs-down" style="color: blue"></i> Reject'.html_safe, "javascript:void(0)",id: "reject_cds", class: "d-none", title: "Reject CDS/CDP" %>
          <%= link_to '<i class="fas fa-bell" id="icon_request_update" style="color: #6c757d"></i> Request'.html_safe, "javascript:void(0)", id: "button_request_update", class: "confirm-request disabled", title: "Request update" %>
          <%= link_to '<i class="fas fa-bell-slash" id="icon_cancel_request" style="color: green"></i> Cancel'.html_safe, "javascript:void(0)", class: "disabled", id: "button_cancel_request", title: "Cancel Request" %>
          <%= link_to '<i class="fas fa-thumbs-up" style="color: blue"></i> Approve'.html_safe, "javascript:void(0)",id: "approve_cds", class: "approval-assessment", title: "Approve CDS/CDP" %>
        <% end %>
      <% elsif @hash[:is_hr] %>
         <%= link_to '<i class="fas fa-comment-alt" style="color: blue"></i> Comment'.html_safe, "javascript:void(0)",id: "summary_comment", title: "Summary comment" %>
      <% elsif @hash[:is_reviewer] %>
        <% if @hash[:is_submit] %>
          <%= link_to '<i class="fas fa-comment-alt" style="color: blue"></i> Comment'.html_safe, "javascript:void(0)",id: "summary_comment", title: "Summary comment" %>
          <%= link_to '<i class="fas fa-bell" id="icon_confirm_request" style="color: green"></i> Confirm Update'.html_safe, "javascript:void(0)", id: "confirm_request", class: "confirm-request", title: "Confirm request" %>
        <% else  %>
          <%= link_to '<i class="fas fa-comment-alt" style="color: blue"></i> Comment'.html_safe, "javascript:void(0)",id: "summary_comment", title: "Summary comment" %>
          <%= link_to '<i class="fas fa-bell" id="icon_request_update" style="color: #6c757d"></i> Request'.html_safe, "javascript:void(0)", id: "button_request_update", class: "confirm-request disabled", title: "Request update" %>
          <%= link_to '<i class="fas fa-bell-slash" id="icon_cancel_request" style="color: #6c757d"></i> Cancel'.html_safe, "javascript:void(0)", class: "disabled", id: "button_cancel_request", title: "Cancel Request" %>
          <%= link_to '<i class="fas fa-bell" id="icon_confirm_request" style="color: green"></i> Confirm'.html_safe, "javascript:void(0)", id: "confirm_request", class: "confirm-request d-none", title: "Confirm request" %>
          <%= link_to '<i class="fas fa-file-import" style="color: green"></i> Submit'.html_safe, "javascript:void(0)", class: "submit-assessment", title: "Submit CDS/CDP" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid" style= "position: relative;">
  <div class="row" id="body-row">
    <%= render "left_panel" %>
    <div class="col" id="content_slot">
    </div>
  </div>
  <div class="btn-show-hide-slot" title="Hide/Show">
    <i class="ic-book-slot fas fa-book-open" style="font-size: 22px"></i>
  </div>
  <div class="btn-up" title="Go to Top" style="display: none">
    <i class="fas fa-arrow-up" style="font-size: 25px"></i>
  </div>
  <div class="btn-down" title="Go to Bottom">
    <i class="fas fa-arrow-down" style="font-size: 25px"></i>
  </div>
</div>
<div><%= render "modal_history" %></div>
<div><%= render "modal_warning_reviewer_submit" %></div>
<div><%= render "modal_warning_approver_submit" %></div>
<div><%= render "modal_period" %></div>
<div><%= render "modal_summary_assessment" %></div>
<div><%= render "modal_request_update_prevent"%></div>
<div><%= render "modal_cancel_request_update"%></div>
<div><%= render "modal_request_add_more_evidence" %></div>
<div><%= render "modal_approve_cds" %></div>
<div><%= render "modal_confirm_request" %></div>
<div><%= render "modal_conflict" %></div>
<div><%= render "modal_reject_cds" %></div>
<div class="alert-message">
  <div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
  <div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
</div>
<script>
  var form_id = <%= @hash[:form_id] || 0 %>;
  var title_history_id = <%= @hash[:title_history_id] || 0 %>;
  var status = "<%= @hash[:status].to_s %>";
  var is_reviewer = <%= @hash[:is_reviewer] %>;
  var is_submit = <%= @hash[:is_submit] %>
  var is_approver = <%= @hash[:is_approver] %>;
  var user_current = <%= current_user.id %>;
  var user_to_be_reviewed = <%= @hash[:user_id] %>;
  var lst_slot = {};
  var check_5_month = true
  var conflict_commits = {}
  var check_request_update = <%=  @hash[:is_disable_confirm_update] %>;
  var user_name = "<%= @hash[:user_name] %>"
  var user_account = "<%= @hash[:user_account] %>"
  var is_flag_yellow = "<%= @hash[:is_flag_yellow] %>"
  loadDataPanel(form_id);
</script>
