<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'cdp_assessment', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'jquery.dataTables.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<% breadcrumb :cds_review %>
<link rel="stylesheet" href="https://www.jquery-az.com/boots/css/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="https://www.jquery-az.com/boots/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="https://www.jqueryscript.net/demo/Bootstrap-4-Multi-Select-BsMultiSelect/dist/js/BsMultiSelect.js"></script>
<div class="container-fluid">
  <div class="row" id="cdp_container_div">
    <div class="col-6" style="font-size: 150%;">
      CDS & CDP Review List
    </div>
    <div class="col-6" style="text-align:right">
      <a href="javascript:void(0);" style="color: white; text-decoration: none" class="filter_review">
        <i class="fas fa-chevron-down" style="color: black"></i>
        Filter
      </a>
      &nbsp;
      <span>Export:</span>
      <a id="export_excel_cds_review"><i class="fa fa-file-excel-o icon icon-export-cds-review" title="Export Excel"  style="color: green"></i></a>
      <a id="export_pdf_cds_review"><i class="fa fa-file-pdf-o icon icon-export-cds-review" title="Export PDF"  style="color: #a96f6f" aria-hidden="true"></i></a>
      <%= render 'modal_delete_cds' %>
    </div>
  </div>
</div>
<div class="col-12 filter-assessment-review">
  <%= render "filter_review" %>
</div>
<div class="row" >
  <div class="col-12" style="">
    <table class="table table-primary table-responsive-sm table-cds-assessment-manager-list table-mytable">
      <thead>
        <tr>
          <th data-orderable="false">No.</th>
          <th>Period</th>
          <th>User Name</th>
          <th>Project</th>
          <th>Email</th>
          <th>Role</th>
          <th>Title</th>
          <th>Rank</th>
          <th>Level</th>
          <th>Submitted Date</th>
          <th>Reviewed Date</th>
          <th>Status</th>
          <th data-orderable="false">Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<div class="alert-message">
  <div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
  <div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
</div>
<%= render 'modal_reject_cds' %>
<script>
  var form_id = "";
  var user_id = "";
  var Period = "";
  var is_change_company = false;
  var is_change_project = false;
  var is_change_role = false;
  var curr_company_ids = [];
  var curr_project_ids = [];
  var curr_role_ids = [];
</script>
<%= javascript_include_tag 'form_cds_review', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form_review_export', 'data-turbolinks-track': 'reload' %>
