<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form_cds_cdp', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'jquery.dataTables.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'cdp_assessment', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <div class="row cdp_container">
    <div class="col-10 background-header" style="font-size: 150%;">
      CDS & CDP Assessment List
    </div>
    <div class="col-2 button-add-cds-assessment background-header" style="text-align: right">
      <% if @check_status %>
        <%= link_to ('<button><img src="../assets/Add.png"> Add</button>').html_safe, cdp_assessment_forms_path %>
      <% else %>
        <%= link_to_if false,  ('<button class="disabled"><img src="../assets/Add.png"> Add</button>').html_safe, 'javascript:;' %>
      <% end %>
    </div>
    <div class="col-12" style="padding: 0px">
      <table class="table table-primary table-responsive-sm table-mytable table-cds-assessment-list">
        <thead>
          <tr>
            <th data-orderable="false">No.</th>
            <th>Period</th>
            <th>Role</th>
            <th>Level</th>
            <th>Rank</th>
            <th>Title</th>
            <th>Status</th>
            <th data-orderable="false">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
<%= render 'modal_delete_cds' %>
<% breadcrumb :forms %>
