<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <div class="row" style="background-color: #8da8db; height: 60px; line-height: 40px; margin: 0px 0px 0px 0px; color: white; font-weight">
    <div class="col-10" style="font-size: 150%;">
      CDS Assessment List
    </div>
    <div class="col-2 button-add-cds-assessment" style="text-align: right">
      <%= link_to(('<button><img src="../assets/Add.png"> Add</button>').html_safe, cds_assessment_forms_path) %>
    </div>
    <div class="col-12" style="padding: 0px">
      <table class="table table-primary table-responsive-sm table-mytable table-cds-assessment-list">
        <thead>
          <tr>
            <td>No.</td>
            <td>Period</td>
            <td>Role</td>
            <td>Level</td>
            <td>Rank</td>
            <td>Title</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
<%= render 'modal_delete_cds' %>
<%= render 'modal_history' %>
<%= render 'modal_submit_cds' %>
