<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form', 'data-turbolinks-track': 'reload' %>
<nav aria-label="breadcrumb" class="breadcrumb-preview-result">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Preview CDS/CDP Result For <%= current_user.role.desc %> - <%= current_user.format_name %></li>
  </ol>
</nav>
<div class="container-fluid illustration" style="padding-left: 0px;padding-right: 0px;">
  <div class="row" style="margin-right: 0px;">
    <div class="col-6">
      <table class="table table-primary table-responsive-sm table-mytable table-statistic-preview-result">
        <thead>
          <tr>
            <td ></td>
            <td >Currently</td>
            <td >Expected</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Title</td>
            <td><%= @calculate_result[:current_title][:title]%></td>
            <td class="td-expected"><%= @calculate_result[:expected_title][:title]%></td>
          </tr>
          <tr>
            <td>Rank</td>
            <td><%= @calculate_result[:current_title][:rank] %></td>
            <td class="td-expected"><%= @calculate_result[:expected_title][:rank]%></td>
          </tr>
          <tr>
            <td>Level</td>
            <td><%= @calculate_result[:current_title][:level]%></td>
            <td class="td-expected"><%= @calculate_result[:expected_title][:level]%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <div class="row" style="margin-bottom: 10px">
        <div class="col-2">
          <button class="btn assessed" disabled>&nbsp;</button>
        </div>
        <div class="col-10 title" style="padding-left: 10px">
          Assessed in the current period
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-2">
          <button class="btn re-assessed-slots" disabled>&nbsp;</button>
        </div>
        <div class="col-10 title" style="padding-left: 10px">
          Re-assessed slots
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-2">
          <button class="btn new" disabled>&nbsp;</button>
        </div>
        <div class="col-10 title" style="padding-left: 10px">
          New/Passed slots
        </div>
      </div>
    </div>
    <div class="col-3" style="padding-right: 25px">
      <div class="row" style="margin-bottom: 10px">
        <div class="col-2">
          <button class="btn assessed pass-slot" disabled>3</button>
        </div>
        <div class="col-10 title" style="padding-left: 10px">
          Can pass in the current period
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-2">
          <button class="btn assessed fail-slot" disabled>2</button>
        </div>
        <div class="col-10 title" style="padding-left: 10px">
          Can fail in the current period
        </div>
      </div>
    </div>
    <div class="col-12" style="padding-right: 0px">
      <%= render 'form_preview_result'%>
    </div>
  </div>
</div>
