<%= stylesheet_link_tag "form", media: "all", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag "form", 'data-turbolinks-track': "reload" %>
<link rel="stylesheet" href="https://www.jquery-az.com/boots/css/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="https://www.jquery-az.com/boots/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">CDS/CDP</a></li>
    <li class="breadcrumb-item active">CDS Assessment</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row" id="cdp_container_div">
    <div class="col-md-4" >
      CDS Reviewer for 
    </div>
    <div class="col-md-4">
      Search: <input type="text" class="search-assessment" placeholder="Search by slot's description">
    </div>
    <div class="col-md-4 list-action filter-slots" style="text-align:right">
      Filter
      <select id="filter-form-slots" multiple="multiple">
        <option value="passed">Passed slots in previous periods</option>
        <option value="failed" selected>Failed slots in previous periods</option>
        <option value="no_assessment" selected>No Assessments</option>
        <option value="need_to_update" selected>Need to update evidences</option>
        <option value="assessing" selected>Assessing in the current period</option>
        <option value="planned" selected> Planned in previous CDP</option>
      </select>
      <%= link_to '<i class="far fa-eye" style="color: blue"></i> View Result'.html_safe, preview_result_forms_path(form_id: @hash[:form_id]), target: :_blank %>
      <%= link_to '<i class="fas fa-file-import" style="color: green"></i> Submit'.html_safe, "javascript:void(0)", class: "submit-assessment" %>
      <%= link_to '<i class="far fa-thumbs-up" style="color: blue"></i> Approve'.html_safe, "javascript:void(0)", "data-toggle": "modal", "data-target": "#modal_approve_cds" %>
      <%= link_to '<i class="far fa-thumbs-down" style="color: red"></i> Reject'.html_safe, "javascript:void(0)" %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" id="body-row">
    <%= render "left_panel" %>
    <div class="col" style="padding-right: 0px">
      <%= render "form_slot" %>
    </div>
  </div>
</div>
<div><%= render 'modal_history' %></div>
<div><%= render 'modal_period' %></div>
<div><%= render 'modal_approve_cds' %></div>
<div><%= render "modal_add_more_evidence" %></div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
<script>
  var form_id = <%= @hash[:form_id] || 0 %>;
  var title_history_id = <%= @hash[:title_history_id] || 0 %>;
  var status = "<%= @hash[:status] %>";
  var is_reviewer = true;
  var user_current = <%= current_user.id %>;
  checkStatusFormStaff(status);
  loadDataPanel(form_id,true);
</script>
