<div id="index_footer">
  <span>
    <% if current_page > 1 %>
      <a href=<%= admin_user_management_path + "?page=#{current_page-1}" %>>
        <img class="prev_page_icon" src="<%= asset_path('prev_page.png') %>">
      <% end %>
    </a>
    Page <input form="fakeForm" class="gotoPage" type="text" value="<%= current_page %>" style="width:6px;"> of <%= total_page %>
    <% if current_page < total_page %>
      <a href=<%= admin_user_management_path + "?page=#{current_page+1}" %>>
        <img class="next_page_icon" src="<%= asset_path('next_page.png') %>">
      <% end %>
    </a>
  </span>
  <div class="download_links">
    <span>Download:</span>
    <a href="/admin/users.csv?order=id_desc&amp;page=2">CSV</a>
  </div>
</div>
