<table class="table" id="table_user_management" data-source="<%= admin_users_path(format: :json) %>">
  <thead>
    <% even_odd_classname = cycle("odd", "even") %>        
    <tr class="<%= even_odd_classname %>">
      <th>
        <div class="resource_selection_toggle_cell">
          <label>
            <input type="checkbox" id="collection_selection_toggle_all" name="collection_selection_toggle_all" class="toggle_all">
          </label>
        </div>
      </th>
      <th scope="col" class="id">ID</th>
      <th scope="col" class="first_name">First Name</th>
      <th scope="col" class="last_name">Last Name</th>
      <th scope="col" class="email">Email</th>
      <th scope="col" class="account">Account</th>
      <th scope="col" class="role">Role</th>
      <th scope="col" class="title">Title</th>
      <th scope="col" class="project">Project</th>
      <th scope="col" class="company">Company</th>
      <th scope="col" class="action">Action</th>
    </tr>
     </thead>
    <tbody>
      <% admin_users.each_with_index do |user, index| %>        
        <% even_odd_classname = "" %>
        <tr id= "<%= "admin_user_#{user.id}" %>"  class="<%= even_odd_classname %>">
          <td class="selectable">
            <div class="resource_selection_cell">
              <input type="checkbox" id=<%= "batch_action_item_#{user.id}"%> value="0" class="collection_selection" name="collection_selection[]">
            </div>
          </td>
          <td class="id"><%= "#{user.id}" %></td>
          <td class="first_name"><%= "#{user.first_name}" %></td>
          <td class="last_name"><%= "#{user.last_name}" %></td>
          <td class="email"><%= "#{user.email}" %></td>
          <td class="account"><%= "#{user.account}" %></td>
          <td class="role"><%= roles.find(user.role_id).name unless user.role_id.nil? %></td>
          <td class="title"></td>
          <td class="project">
            <%=
            begin
                project_namelist = []
                project_member_of_user = project_members.where(admin_user: user)

                project_member_of_user.each { |project_member|
                project_name = projects.find(project_member.project_id).desc
                project_namelist.append(project_name)
                }
                project_namelist.join(" / ")            
            rescue
              ""
            end
            %>
          </td>
          <td class="company"><%= begin companies.find(user.company_id).name rescue "" end %></td>
            <td class="actions">
              <%= 
                links = []

                links << link_to(image_tag("edit.png", border: 0), edit_admin_user_path(user.id), { class: "action_icon" })
                links << link_to(image_tag("destroy.png", border: 0), "" , { class: "action_icon delete_icon", :"data-toggle" => "modal", :"data-target" => "#deleteModal", :"data-user_id" => user.id})
                links << link_to(image_tag("add_reviewer.png", border: 0), "#", { class: "action_icon" })
                links.join(" ").html_safe      
            %>
            </td>
          </tr>
        <% end %>
        </tbody>
       
</table>