
<div class="filter-page-user">
    <div class="form-group">
      <label>Company</label>
      <%# company %>
      <select class="form-control" id="filter-company" name="company">
        <option value='all'>All</option>
        <% companies.each do |c| %>
          <option value="<%= c.id%>"><%= c.name%></option>
        <% end%>
      </select>
    </div>
    <div class="form-group">
      <label>Project</label>
      <%# project %>
      <select class="form-control" id="filter-project" name="project">
        <option value='all'>All</option>
        <% projects.each do |p| %>
          <option value="<%= p.id%>"><%= p.desc%></option>
        <% end%>
      </select>
    </div>
    <div class="form-group">
      <label>Role</label>
      <%# project %>
      <select class="form-control" id="filter-role" name="role">
        <option>All</option>
        <% roles.each do |r| %>
          <option value="<%= r.id%>"><%= r.name%></option>
        <% end%>
      </select>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary" id="btn-filter">Go</button>
        </div>
      </div>
    </div>
</div>
<div id="alert-success" class="alert alert-success" data-alert="alert">Add Successed !</div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert">Add Failed !</div>

<style>
  #alert-success, #alert-danger {
    position: absolute;
    z-index: 3400;
    top: 7%;
    left: 1%;
    margin: 0px auto;
    text-align: center;
    display: none;
}
</style>
<script>
  $(document).ready(function () {
    $("#filter-company,#filter-project").change(function () {
      company = $("#filter-company").val();
      project = $("#filter-project").val();
      $.ajax({
        url: "/admin/user_management/filter/",
        type: "POST",
        headers: { "X-CSRF-Token": $('meta[name="csrf-token"]').attr("content") },
        data: { company: company, project: project },
      });
    });
  });
</script>