<!DOCTYPE html>
<html>
  <head>
    <title>CompetencySystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_link_tag "tokenize2.min", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_link_tag "tokenize2.min", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "tokenize2.min", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "jquery.dataTables.min", 'data-turbolinks-track': "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header-breadcrumb">
      <%= breadcrumbs separator: " / ", display_single_fragment: true, link_current: true %>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar_menu">
      <a class="navbar-brand" href="#" style="font-size: 4rem;color: #4472C4;">CDS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Dashboard", root_path, class: "nav-link privilate-cds-dashboard" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CDS/CDP
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item privilate-cds-cdp-assessment" href="/forms/index_cds_cdp">CDS/CDP Assessment</a>
              <a class="dropdown-item privilate-cds-cdp-review" href="/forms/cds_review">CDS/CDP Review</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item privilate-user-management" href="/users">User Management</a>
              <a class="dropdown-item privilate-user-group-management" href="/groups">User Group Management</a>
              <a class="dropdown-item privilate-schedule-management" href="/schedules">Schedule Management</a>
              <a class="dropdown-item privilate-template" href="/templates">Template Management</a>
              <a class="dropdown-item privilate-level-mapping" href="/level_mappings">Level Mapping</a>
              <a class="dropdown-item privilate-organization-settings" href="/organization_settings">Organization Settings</a>
              <%= link_to "My Account", user_profile_users_path, class: "dropdown-item"%>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <p class="navbar-text float-right">
            <% if user_signed_in? %>
              <div>Welcome&nbsp;</div>
              <%= link_to current_user.format_name_vietnamese, user_profile_users_path, :class => 'navbar-link' %>&nbsp;|&nbsp;
              <div class="logout-icon">
                <i class="fa fa-power-off" aria-hidden="true" style="color: red"></i>
              </div>
              &nbsp;
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, id: "logout" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, :class => 'btn btn-secondary'%>
            <% end %>
          </p>
        </form>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
<script>
  var privilege_array = "<%= @privilege_array ?  @privilege_array.join(',') : "" %>";
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
