<!DOCTYPE html>
<html>
  <head>
    <title>CompetencySystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'tokenize2.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'tokenize2.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tokenize2.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header-breadcrumb">
      <%= breadcrumbs separator: " / ",display_single_fragment: true, link_current: true %>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar_menu">
      <a class="navbar-brand" href="#" style="font-size: 4rem;color: #4472C4;">CDS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Dashboard",root_path, class: "nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CDS/CDP
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/templates">Template Management</a>
              <a class="dropdown-item" href="/level_mappings">Level Mapping</a>
              <a class="dropdown-item" href="/forms">CDS Accessment</a>
              <a class="dropdown-item" href="/forms/index_cds_cdp">CDP Accessment</a>
              <a class="dropdown-item" href="/forms/cds_review">CDS - CDP Review</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administrator
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users">User Management</a>
              <a class="dropdown-item" href="/groups">User Group Management</a>
              <a class="dropdown-item" href="/schedules">Schedule Management</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <p class="navbar-text float-right">
            <% if user_signed_in? %>
              <%= link_to "Welcome " + current_user.first_name + " " + current_user.last_name, edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger'  %>
            <% else %>
              <%= link_to "Login", new_user_session_path, :class => 'btn btn-secondary'%>
            <% end %>
          </p>
        </form>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
<script>
  $(document).ready(function() {
   if (location.pathname == '/'){
  $('li.active').find("a").css('background-color','#CFD5eA');
   }else{
    $('li.active').removeClass('active');
  
    $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
     $('li.active').find("a").css('background-color','#CFD5eA');
    }
  });
    function getfocus() {
      document.getElementById("myAnchor").focus();
    }
  
    function losefocus() {
      document.getElementById("myAnchor").blur();
    }
</script>
